.main{
    height: 100vh;
}
hr{
    color: #fff;
}
.fs{
    font-size: 60px;
    padding: 20px 35px;
    background-color: #212529;
    color: #fff;
    border: 7px solid #fff;
    transition: 0.2s;
}
.fs:hover{
    background-color: yellow;
    color: #212529;
    border: 7px solid yellow;
}
#fs_1{
    rotate: 80deg;
}